*{
    box-sizing: border-box;
}
body{
    background-color: #5052E2;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container1{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    margin: 0;

}
.title1{
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 72px;
}
.title2{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 27px;
    display: inline-block;

}

.container4{
    width: 360px;
    height: 260px;
    background-color: #FFFFFF;
    margin: 20px;
}
.photo2{
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.text1{
    font-style: normal;
    font-weight: 400;
    font-size:18px;
    padding: 20px;
}
.text2{
    color: #9B9B9B;
    font-style: normal;
    font-weight: 400;
    font-size:16px;
    margin-left: 20px;
}
.photo1{
    border-radius: 20px;
    width: 39px;
    height: 39px;
    margin-top: 20px;
    float: right;
}
.katetext{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size:18px;
    margin-left: 10px;
    margin-top: 30px;
}

.text3{
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}
.text4{
    color: #1B1B1B;
    font-style: normal;
    font-weight: 500;
    font-size:14px;
    letter-spacing: 2px;
    padding-left: 90px;
}
.text5{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}
.title{
    width:100%;
}
.title4{
    margin-top: 120px;
}
.headerphoto{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.centertext{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center
}
.texti1{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 10px;
}
.footer{
    margin-top:150px;
    display: flex;
    width: 100%;
}
.texti3{
    margin-left: 10px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.phototext{
    margin-top: -60px;
}
.text6{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:  #9B9B9B;
}
.phototext2{
    margin-left: 90px;
    margin-top: -10px;
}
.footermenu{
display: flex;
align-items: center;
width:40%;
}
.texti2{
    display: inline-block;
    padding-right: 100px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.footertext{
    width: 40%;
    padding-left: 20px;
}
.text8{
    letter-spacing: 2px;
    padding-left: 90px;
}
.logo{
    width:221.93px;
    height: 27.45px;
    margin-top: 20px;
}
.headertitle{
    width: 20%;
    display: flex;
    align-items: center;
}
.social{
 padding-right: 20px;
 width: 20%;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}
.link{
    text-decoration: none;
    color: #55ACEE;
}