*{
    box-sizing: border-box;
}
.text1{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-left: 50px;
}
.container{
width: 100%;
margin-left: 30px;
display: flex;
padding: 20px;
gap:3rem;
}
.container2{
    width:300px;
    height: 220px;
    background-color:  #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;

}
.container3{
    width:300px;
    height: 220px;
    background-color: #FF9D9D;
    border: 1px solid #FF9D9D;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.container4{
    width:300px;
    height: 220px;
    background-color:  #FFFAED;
    border: 1px solid #FFDE9D;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.container5{
    width:300px;
    height: 220px;
    background-color:  #EDF6FF;
    border: 1px solid #9DADFF;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.container6{
   margin-left: 50px;
   margin-top: 30px;
   width: 100%;
   align-items: center;
   width: 100%;
}
.title1{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
   
    
}
.text2{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    margin-top: -20px;
}
.link{
    color: #5076FF;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    float: right;
    margin-top:-20px;
}
table{
    border-collapse: collapse;
}
th,td{
    padding: 10px;
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    text-align: center;
}
th{
    background-color: #F9F9F9;
    
}
td{
    background-color: #FFFFFF;
}

.size1{
    width: 72px;
    height: 57px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color:#000000;
}
.size2{
    width: 614px;
    height: 57px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color:#000000;
    text-align: left;
}
.size3{
    width: 276px;
    height: 57px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color:#000000;
}
.size4{
    width: 400px;
    height: 57px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color:#000000;
}
.button1{
    margin-top: 10px;
    width: 160px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #F7F7F7;
    background-color: #FAFAFA;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    float: right;
    margin-right: 160px;
    text-decoration: none;
}
.boldtext{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color:#000000;
    
}
.link1{
    text-decoration: none;
    color: #414141;
}
.text5{
    text-align: left;
}
