*{
    box-sizing: border-box;
}

.container{
    margin:0 auto;
    height: 818px;
    width: 400px;
    left: 439px;
    top: 88px;
    border-radius: 20px;
    background-color: #fafafa;
    border:1px solid #dcdcdc;
    border-radius: 20px;
    
}

    
.image{
    
    margin-top:76px;
    width: 239px;
    height: 186px;
}

.title{
    font-weight: 700px;
    font-size:30px;
    margin-top:50px;
    margin-left:40px;
    color: #000000;
}

.line{
    height:0px;
    margin-top:40px;
    width:300px;
    margin-right:60px;
}

.text{
   
    margin-top:20px;
    margin-left:40px;
}

.link{
    
    color: #5076ff;
    float:right;
    margin-right:50px;
    






































