*{
   box-sizing: border-box;
}
.container {
   margin: 0 auto;
   margin-top: 250px;
   text-align: center;
   width: 366px;
   height: 420px;
   background-color:  #FAF4EF;
   border-bottom-left-radius: 50px;
}
.photo {
   
   margin-top: 170px;
}
.name {
   color: 4B4B4B;
   position:absolute;
   top:270px;
   left: 780px;
   width: 289px;
   height: 54px;
   font-weight: bold;
   font-style: normal;
   font-size: 36px;
   line-height: 100%;
}
.usd {
   width: 177px;
   height: 41px;
   color:#737373;
   font-size: 24px;
   font-weight: 400;
   position:absolute;
   top: 320px;
   left: 770px;
   line-height: 100%;
}