*{
    box-sizing: border-box;
 }
 .container11{
   width: 100%;
   padding: 20px;
   gap: 3rem;
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
 
 }
 .container1 {
    margin:40px;
    width: 366px;
    height: 420px;
    background-color:  #FAF4EF;
    border-bottom-left-radius: 50px;
 }
 .photo {
    margin:0 auto;
    margin-left: 30px;
    margin-top: 40px;
 }
 .name {
    margin-left: 40px;
    color:  #4B4B4B;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
 }
 .usd {
    margin-left: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    color: #737373;
    margin-top: -30px;  
 }
.title{
   margin-left: 367px;
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   color: #4B4B4B;
}
nav{
   margin-left: 700px;
}
a{
   padding: 40px;
   font-style:normal;
   font-weight: 500;
   font-size:24px;
   line-height: 100%;
   text-align: center;
   text-decoration: none;
   color: #737373;
}
.photo1{
    margin-left: 30px;
    margin-top: 10px;
}
.photo2{
   margin-left: 20px;
    margin-top: 70px;
}
.photo3{
   margin-left: 60px;
   margin-top: 40px;
}
.photo4{
   margin-left: 20px;
   margin-top: 10px;
}
.container2{
   margin:40px;
   width: 366px;
   height: 420px;
   background-color:  #FAF4EF;
   border-bottom-left-radius: 50px;
}.container10{
   width: 100%;
   justify-content: center;
   padding: 20px;
   gap: 3rem;
   display: flex;
  flex-wrap: wrap;
}
.navi{
   display: flex;
   justify-content: center;
}